.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 48px;
  background: #e36968;
  border-radius: 8px;
}
.btnText {
  position: static;
  width: 85px;
  height: 24px;
  left: 48px;
  top: 16px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fefefe;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: white;
  /* padding: 1rem; */
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
